<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper style="height: 80%;
  width: 90%;" #swiperRef [slidesPerView]="1" [direction]="'vertical'" [pagination]="{type: 'fraction'}"
    [navigation]="true" [virtual]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let slide of slides; let i = index">
      <div [ngStyle]="{ background: i % 2 == 0 ? 'red' : 'green' }"
        style="flex-direction: column;height:100%; width:100%; display:flex; justify-content:center; align-items:center;">
        <p>Name: {{ slide.name }}</p>
        <p>Price: ${{slide.price}}</p>
      </div>
    </ng-template>
  </swiper>
</ion-content>